<h1>USER LIST PAGE<h1>

<div>
   <% @users.each do |user|%> 
    <div>
      <img src="<%= user.photo %>" alt="user photo">
       <span><%= user.name %>Number of post:<%= user.post_counter %></span>
    </div>
   <% end %>
    
</div>
